html {
    font-family: sans-serif;
    line-height: 1.15;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    display:table;
}

.container {
    height: 100%;
    width: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.button {
    outline: 0;
    width: 160px;
    height: 70px;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    border-radius: 20px;
    box-shadow: 0 0 20px #eee;
    border: 0;
    font-size: 15px;
    color: #ffffff;
    transition: 0.5s;
}

.button:hover {
    background-position: right center;
    cursor: pointer;
}

button:focus {
    outline: 0;
}